[IBGateway]
WriteDebug=false
TrustedIPs=
RemoteHostOrderRouting=ndc1.ibllc.com
RemotePortOrderRouting=4001
LocalServerPort=4000
ApiOnly=true

[Logon]
Locale=en
TimeZone=${TIME_ZONE}
displayedproxymsg=1
UseSSL=true
s3store=true

[Communication]
